.btn_align {


  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 10px;
  justify-content: center;


}

.container{
    background-color:silver;
    margin-top: 50px;
    border:1px solid #000;
}

